{% include 'Inc/header.html' %}

<div class="ui container">
  <h1>Formulario para actualizar Ambiente de Formación</h1>

  <form action="" method="post" id="formambiente" class="ui form">
    {% csrf_token %}
    
    <div class="three fields">
      <div class="field">
        <label for="nombre">Nombre del Ambiente</label>
        <input type="hidden" name="id" value="{{ ambiente.0.0 }}">
        <input type="text" name="nombre" id="nombre" value="{{ ambiente.0.1 }}">
      </div>
      <div class="field">
        <label for="tipo">Tipo de Ambiente</label>
        <input type="text" name="tipo" id="tipo" value="{{ ambiente.0.2 }}">
      </div>
      <div class="field">
        <label for="observacion">Observaciones del Ambiente</label>
        <input type="text" name="observacion" id="observacion" value="{{ ambiente.0.3 }}">
      </div>
    </div>

    <div>
      <button type="submit" class="ui inverted green button">Actualizar Ambiente</button>
    </div>
  </form>

  <br>

  {% if messages %}
    {% for mensaje in messages %}
    <div class="ui container" id="mensajes">
      <div class="ui {{ mensaje.tags }} message">
        <i class="close icon"></i>
        <div class="header">
          {{ mensaje }}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>

{% include 'Inc/footer.html' %}