{% include 'Inc/header.html' %}

<div class="ui container">
  <h1>Formulario para registrar Ambiente de Formación</h1>
  
  <form action="" method="post" id="formambiente" class="ui form">
    {% csrf_token %}
    <div class="three fields">
      <div class="field">
        <label for="nombre">Nombre del Ambiente</label>
        <input type="text" name="nombre" id="nombre">
      </div>
      <div class="field">
        <label for="tipo">Tipo de Ambiente</label>
        <input type="text" name="tipo" id="tipo">
      </div>
      <div class="field">
        <label for="observacion">Observaciones del Ambiente</label>
        <input type="text" name="observacion" id="observacion">
      </div>
    </div>
    <div>
      <button type="submit" class="ui inverted green button">Guardar Ambiente</button>
    </div>
  </form>

  <br>

  {% if messages %}
    {% for mensaje in messages %}
      <div class="ui {{ mensaje.tags }} message">
        <i class="close icon"></i>
        <div class="header">
          {{ mensaje }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% include 'Inc/footer.html' %}

<script>
  $('.ui.form').form({
    inline: true,
    fields: {
      nombre: { identifier: 'nombre', rules: [{ type: 'empty', prompt: 'Nombre obligatorio' }] },
      tipo: { identifier: 'tipo', rules: [{ type: 'empty', prompt: 'Tipo obligatorio' }] },
      observacion: { identifier: 'observacion', rules: [{ type: 'empty', prompt: 'Observación obligatoria' }] },
    }
  });

  $('.message .close').on('click', function() {
    $(this).closest('.message').transition('fade');
  });
</script>