{% include 'Inc/header.html' %}

<div class="ui container">
  <h1>Formulario para actualizar los Instructores</h1>

  <form action="" method="post" id="forminstructor" class="ui form">
    {% csrf_token %}
    
    <div class="two fields">
      <div class="field">
        <label for="nombre">Nombre del Instructor</label>
        <input type="text" name="nombre" id="nombre" value="{{ instructor.NombreCompleto }}">
      </div>
      <div class="field">
        <label for="area">Area de Instructor</label>
        <input type="text" name="area" id="area" value="{{ instructor.Area }}">
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label for="celular">Celular del Instructor</label>
        <input type="text" name="celular" id="celular" value="{{ instructor.Celular }}">
      </div>
      <div class="field">
        <label for="cedula">Documento del Instructor</label>
        <input type="text" name="cedula" id="cedula" value="{{ instructor.Cedula }}">
      </div>
    </div>

    <div>
      <button type="submit" class="ui inverted green button">Actualizar Instructor</button>
      <a href="/Instructores/ListarInstructores" class="ui button">Cancelar</a>
    </div>
  </form>
  <br>

  {% if messages %}
    {% for mensaje in messages %}
    <div class="ui container" id="mensajes">
      <div class="ui {{ mensaje.tags }} message">
        <i class="close icon"></i>
        <div class="header">
          {{ mensaje }}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}

</div>

{% include 'Inc/footer.html' %}

<script>
  $('.ui.form').form({
    inline: true,
    fields: {
      nombre: {
        identifier: 'nombre',
        rules: [{ type: 'empty', prompt: 'Nombre del instructor' }]
      },
      area: {
        identifier: 'area',
        rules: [{ type: 'empty', prompt: 'Debe ingresar tipo de area' }]
      },
      celular: {
        identifier: 'celular',
        rules: [{ type: 'empty', prompt: 'Ingrese el numero del instructor' }]
      },
      cedula: {
        identifier: 'cedula',
        rules: [{ type: 'empty', prompt: 'Ingrese el numero del documento del instructor' }]
      },
    }
  });

  // Script para cerrar los mensajes de alerta
  $('.message .close').on('click', function() {
    $(this).closest('.message').transition('fade');
  });
</script>